body {
  background-color: #9b415c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f2f42;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.title {
  margin: 0;
  padding: 40px;
  background-color: #6f2f42;
  color: antiquewhite;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}

.label {
  font-weight: bold;
}

.character-amount-container {
  align-items: center;
  display: flex;
}

.number-input {
  width: 2rem;
}

.password-display {
  min-width: 350px;
  background-color: #99596c;
  color: antiquewhite;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  word-break: break-all;
}

.button {
grid-column: span 2;
background-color: transparent;
border: 2px solid antiquewhite;
color: antiquewhite;
padding: 0.5rem 1rem;
border-radius: 1rem;
cursor: pointer;
font-weight: bold;
min-width: 250px;
height: 2rem;
align-items: center;
justify-content: center;
display: flex;
}

.button:hover {
  background-color: #FFFFFF33;
}